* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
ul li {
  color: rgb(241, 232, 232);
}
ul li:hover {
    color:wheat;

    
}
ul li a {
  color: rgb(241, 232, 232);
  text-decoration: none;
}
ul li a:hover{
    color:wheat
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.form input {
  padding: 10px;
  width: 100%;
  box-shadow:1px 1px 5px grey;
  border: 2px solid grey;
  border-radius: 5px;
}
.form button {
  width: 300px;
  padding: 10px;
}

table {
  margin-top: 30px;
}
table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

td,
th {
  padding: 3px 8px;
}
.remove-all-margin {
  margin: 0 !important;
}
